<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <app-logo></app-logo>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Doctors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.caredash.com/review-your-doctor">Review your doctor</a>
          <a class="dropdown-item" href="https://www.caredash.com/find-a-doctor">Find a doctor</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.caredash.com/portal">Portal</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://www.caredash.com/articles/family">Family</a>
          <a class="dropdown-item" href="https://www.caredash.com/articles/health-101">Health 101</a>
          <a class="dropdown-item" href="https://www.caredash.com/articles/living-well">Living well</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
