
<app-top-menus class="top-menus"></app-top-menus>


<div class="row">
  <div class="col-sm-9">
    <img src="../../../assets/images/main.jpg" alt="Happy boy" style="height: auto; max-width: 100%;">
    <span class="photo-author"><i>Photo by Jordan Rowland on Unsplash</i></span>
  </div>
  <div class="col-sm-3">
    <h5 class="text-center">Sign up with CareDash to edit your provider profile</h5>
    <app-form></app-form>
  </div>
</div>



<h3 class="display-4 text-center">Reasons to sign up as a provider on CareDash</h3>


<app-card-deck></app-card-deck>

<div class="row">
    <div class="col">
        <hr/>
    </div>
</div>

<app-footer></app-footer>
